.fade-in {
    transition: opacity 1s ease;
}
.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

.cards {
  padding: 1rem;
}

h1 {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height: 80px;
    border-width: 1.5px;
    border-style: solid;
    border-color: lemonchiffon;
    /* background-color: #bd4f4f; */
}

.text-container:hover {
  background-color: rgb(23, 23, 75);
  transition:.1s ease-in;
  color: lemonchiffon;
}

.text-container-experience {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  border-width: 1.5px;
  border-style: solid;
  border-color: lemonchiffon;
  background-color: #000000;
}

.text-container-experience:hover {
  background-color: rgb(23, 23, 75);
  transition:.1s ease-in;
  color: lemonchiffon;
}

.text-container-contact {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  border-width: 1.5px;
  border-style: solid;
  border-color: lemonchiffon;
  /* background-color: #8b4141; */
}

.text-container-contact:hover {
  background-color: rgb(23, 23, 75);
  transition:.1s ease-in;
  color: lemonchiffon;
}

.description-container {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    height: 300px;
    width: 1200px;
    border-width: 1.5px;
    border-style: solid;
    transition: .5s ease;
    border-color: lemonchiffon;
    background-color: #000000;
    transform: translateX(-50px);
}

.description-container:hover {
  border-color:rgb(54, 54, 231);
}

.image-container {
    flex: 50%;
    max-width: 50%;
    height: 150px;
    padding: 0px 4px;
    background-color: black;
}
 
.projects-cover {
  object-fit: cover;
  width: 305px;
  height: 297px;
  margin-bottom: 1px;
  margin-right: 1px;
}

.projects-cover:hover{
  visibility: hidden;
  background-color: rgb(78, 78, 192);
}

.topic {
    font-size: 25px;
}

.description {
  line-height: 60px;
  padding-left: 50px;
  padding-right: 50px;
  /* background-color: beige; */
  font-size: 18px;
  color: white;
}

.timeline {
  display: flex;
  border-width: 1.5px;
  border-style: solid;
  border-color: lemonchiffon;
}

.timeline-date-color {
  color: #fff;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 300px;
  height: 300px;
  border-width: 1.5px;
  border-style: solid; 
  transition: .5s ease;
  /* background-color: #b64848; */
  cursor: pointer;
}

.projects-container {
  display: flex;
  flex-direction: row;
  /* background-color: darkblue; */
  margin-top: 80px;
  margin-bottom: 80px;
}

.projects:hover{
  color: orange;
}


section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
   /* background-color: lightslategray;  */
}

.section-aboutme {
  background-color: transparent;
  padding-top:100px;
}

.section-projects {
  /* background-color: rgb(42, 76, 110); */
  padding-top: 100px;
}

.section-experience {
  /* background-color: rgb(42, 76, 110); */
  padding-top: 100px;
}

.section-contact {
  /* background-color: rgb(42, 76, 110); */
  padding-top: 100px;
}

.arrow {
    text-align: center;
    margin: 8% 0;
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1800px) {
  section {
    /* background-color: rgb(26, 55, 65); */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .description-container {
    height: 300px;
    width: 900px;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .description {
    font-size: 15px;
  }

  .text-container-experience {
    margin-bottom: 40px;
    float: none;
  }

  .timeline {
    position: relative;
    flex: 100%;
    align-items: center;
    justify-content: center;

  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1100px) {

  .text-container-experience {
    margin-top: 20px;
    margin-bottom: -50px;
  }

  .timeline {
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-bottom: -50px;
  }

  .text-container-contact {
    margin-top: 50px;
    margin-bottom: -20px;
  }
  
  .section-aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .description-container {
    height: 300px;
    width: 600px;
  }

  .description {
    font-size: 14px;
    line-height: 38px;
  }
  .projects {
    margin: 10px;
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 720px) {
  .description {
    font-size: 12px;
    line-height: 25px;
  }

  .description-container {
    height: 300px;
    width: 400px;
  }

  .text-container {
    width:150px;
    height: 50px;
  }
  
  .text-container-experience {
    width:150px;
    height: 50px;
  }

  .text-container-contact {
    width:150px;
    height: 50px;
  }

  .topic {
    font-size: 20px;
  }
  
  .projects {
    margin: 10px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .description {
    font-size: 10px;
    line-height: 25px;
  }
  .description-container {
    height: 300px;
    width: 350px;
  }
  .projects {
    margin: 0;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 375px) {
  .description {
    font-size: 10px;
    line-height: 25px;
  }

  .text-container {
    margin-bottom: 30px;
  }

  .description-container {
    height: 300px;
    width: 350px;
    margin: 0;
  }

  .projects {
    margin: 0;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
}