@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

html,
body {
  background-color:rgb(0, 0, 0);
  height: 80vh;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 2px;  /* Remove scrollbar space */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}


.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #98e5f7;
  background-color: #E8AB4C;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: all 150ms ease;
  transition-property:  opacity, background-color, transform, mix-blend-mode;
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
  background-color: #fefefe;
}

.cursor--hidden {
  opacity: 0;
}

a:hover {
  color: #E8AB4C;
}

body {
  color: #bbcdff;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  margin-top: -5px;
  z-index: 100000;
  position: fixed;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

span {
  color: #E8AB4C;
}

.partext-wrapper {
  position: relative;
  border: 3px solid blue; 
}

.item-wrapper{
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow: hidden;
  height: 200px;
  border-bottom: 2px solid rgb(104, 108, 170);
}

.socials-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  overflow: hidden;
  height: 500px;
  border-bottom: 2px solid rgb(104, 108, 170);
  padding-bottom: 50px;
}

img {
  width: 100%;
  height: auto;
}

.text-landing{
  font-size: 74px;
  color: #E8AB4C;
  z-index: 0;
  cursor:pointer;
}

.text-desc{
  position: relative;
  text-align: center;
  font-size: 36px;
  color: #E8AB4C;
  z-index: 0;
}

.text-wrapper{
  width: 100%;
  position: relative;
  top: 20px;
  text-align: center;
  justify-content: center;
}

.text-desc-dev {
  color:#98e5f7;
}

.text-desc-photo {
  color: #98e5f7;
}

.text-desc-eng {
  color: #98e5f7;
}

.text-desc-grad {
  color: #98e5f7;
}

.social-text{
  position: relative;
  justify-content: center;
  display: flex;
  font-size: 36px;
  color: #E8AB4C;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  transition: .3s ease;
  z-index: 0;
}

.email-text{
  position: relative;
  justify-content: center;
  display: flex;
  font-size: 36px;
  color: #E8AB4C;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  transition: .3s ease;
  z-index: 0;
}

.social-text:hover { 
  border: .5px solid #98e5f7; 
  color: #98e5f7;
}

.email-text:hover span {
  display: none;
}


.email-text:hover:before {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
  border: .5px solid #98e5f7; 
  font-size: 32px;
  content:"samuel01hsu@gmail.com";
  color: #98e5f7;
  cursor:pointer;
}

.samspic {
  max-width: 480px;
  vertical-align: bottom;
  margin-bottom: -420px;
  position: relative;
  z-index:99999;
}

scrolldown {
  z-index: 9000;
  position: absolute;
}
scrolldown:hover{
  cursor:pointer;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

@media screen and (max-width: 600px){
  h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 720px){
  .samspic {
    width:360px;
  }

  .email-text {
    font-size: 25px;
    border: .5px solid #98e5f7; 
  }

  .email-text:hover:before {
    font-size: 25px;
    border: none;
  }

  .social-text {
    font-size: 25px;
    border: .5px solid #98e5f7; 
  }
}

@media screen and (max-width: 570px){
  .samspic {
    width:320px;
  }

  .text-landing {
    font-size: 58px;
  }
}

@media screen and (max-width: 400px){
  h1 {
    font-size: 18px;
  }
  .samspic {
    width:300px;
  }
  
  .text-desc-dev {
    font-size: 24px;
  }
  
  .text-desc-photo {
    font-size: 24px;
  }
  
  .text-desc-eng {
    font-size: 24px;
  }
  
  .text-desc-grad {
    font-size: 24px;
  }
  

  .text-landing{
    font-size: 36px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}